/* This file is for your main application css. */

$primary: #FC4C02;
$link: $primary;
$section-padding: 1rem 1rem;
$navbar-box-shadow-size: 0px 1px 0px 0px;

@import "../node_modules/bulma";

.stripe {
  height: 5px;
  background-color: $primary;
  margin: $box-padding -1px 0 -1px;
}
