/* This file is for your main application css. */

$fa-font-path: "../static/node_modules/@fortawesome/fontawesome-free/webfonts";
@import "./node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "./node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "./node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "./node_modules/@fortawesome/fontawesome-free/scss/solid";

$primary: #FC4C02;
$link: $primary;
$section-padding: 1rem 1rem;
$navbar-box-shadow-size: 0px 1px 0px 0px;

@import "../node_modules/bulma";

.navbar {
  a, a:hover {
    color: $primary;
  }
}

.activity-type-swatch {
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
}

.athlete-list-route {
  .athlete-box {
    position: relative;
  }

  .activity-type-stripe {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    height: 5px;
    display: flex;

    >div {
      height: 100%;

      &:not(:first-child) {
        border-left: 1px solid $white;
      }
    }
  }

  .athlete-activity-type {
    display: inline-block;

    &:not(:first-child) {
      margin-left: 0.75em;
    }
  }
}
