<div
  data-react-app
  data-athlete-id="<%= Plug.Conn.get_session(@conn, :athlete_id) %>"
  data-is-admin="<%= @is_admin %>"
  data-login-url="<%= strava_login_url %>"
  data-logout-url="<%= Routes.athlete_path(TheDailyGrindClubWeb.Endpoint, :logout) %>"
  data-athletes="<%= athletes_json(@athletes) %>"
>
</div>
