<% total_days = utc_day_of_year %>
<%= for athlete <- @athletes do %>
  <div>
    <strong><%= athlete.first_name %> <%= athlete.last_name %></strong>: <%= active_days(athlete) %>/<%= total_days %> days this year (<%= activity_count(athlete) %> activities, <%= active_time(athlete) %>)
  </div>
<% end %>
<%= if Plug.Conn.get_session(@conn, :athlete_id) && Enum.count(@athletes) == 0 do %>
  You need to join <a href="https://www.strava.com/clubs/thedailygrindclub">The Daily Grind Club</a> on Strava to use this site.
<% end %>
